        h1 {
            color: blueviolet;
        }
        
        .asvin {
            width: 150px;
            border: 5px solid red;
            border-radius: 10px;
            box-shadow: 0 0 5px;
        }